@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
}

.header {
  background-color: grey;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  height: 10vh;
}

.content {
  height: 80vh;
  padding: 0 70px;
}

.footer {
  background-color: grey;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  height: 10vh;
}

.header__title,
.content__title,
.footer__title {
  font-family: "Roboto", sans-serif;
}
